* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(pict.jpg);
    padding: 0;
    margin: 0;
}

#container {
    height: 400px;
    width: 300px;
  box-shadow: 3px 3px 4px black;
    border: 5px solid #e2ebf4;
    position: relative;
}

#container h2 {
    color: #1479ff;
    font-size: 50px;
    position: absolute;
    top: 8%;
    left: 25%;
}

#container h1 {
    width: 100px;
    height: 127px;
    text-align: center;
    font-size: 110px;
    position: absolute;
    top: 30%;
    left: 35%;
    color: #fff;
}

#buttons {
    height: 50px;
    width: 200px;
    position: absolute;
    bottom: 25%;
    left: 85px;
   

}
#buttons button {
    height: 50px;
    width: 120px;
    background: #1479ff;
    outline: none;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #191c2130;
    cursor: pointer;
}

#increment {
    position: absolute;
    right: 40%;
    top: 110%;

}
